*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     /* font-family: 'Lilita One', cursive; */
    /* font-family: 'Roboto', sans-serif; */
}

:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #036DE9;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    background: var(--text-color);
    color: var(--bg-color);
    width: 1440px;
    margin-left: 0;
    margin-right: 0;
}

nav {
    background: #222327 !important;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: all .50s ease;
}

.e-logo-cont {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 25%;
    height: 5vh;
    justify-content: center;
}

#e-logo {
    display: grid;
    color: #036DE9;
    text-shadow: 1px 1px #FFFFFF;
    font-family: 'Lilita One', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: flex-end;
    margin-left: 0px;
    width: 100%;
    height: 5vh;
    align-items: center;
    padding-right: 1%;
    padding-top: 0;
}

.reads-logo {
    display: grid;
    font-family: 'Lilita One', cursive;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 5vh;
    align-items: center;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: left;
    font-size: 1rem;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    width: 100%;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

nav ul.navbar {
    width: 50vw;
    padding: 20px 0;
    list-style: none;
}

.main {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    width: 25%;
    height: 90vh;
}

.main a {
    width: 50%;
    margin-left: 10%;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.search-ebooks {
    display: grid; 
    width: 80%;
    height: 4vh;
    border-radius: 12px;
    margin-left: 10%;
    padding: 0;
    font-size: 0.5rem;
    background: #D9D9D9;
    justify-content: flex-start;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .search-field {
    display: flex;
    width: 90%;
    max-height: 100%;
    padding: 0;
    border: none;
    border-radius: 100px;
    outline: none;
    align-items: center;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
  }
  
  .search-button img {
    width: 18px;
    height: 18px;
    object-fit: cover;
    margin-top: 4px; 
  }

  .mag {
    justify-content: flex-start;
  }

input {
    background: #D9D9D9;
    font-size: 1.5em;
    margin-left: 5%;
    }

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.upper-hero-area {
    border: 2px solid red;
    background: #020202;
    width: 100%;
}

.hero-cont {
    border: 2px solid blue;
    max-width: 100%;
}

.hero-img {
    height: 100%;
    width: 100%; 
}

#h2-hero-txt {
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%;
    color: #FFFFFF; 
    font-family: 'Lilita One', cursive;
    font-size: 2rem;
    padding-left: 5%;
    letter-spacing: -1px;   
}

.icon-cont {
    border: 2px solid lime;
    height: auto;
    width: 100%;
    background: #020202;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
}

space-hldr {
    border: 2px solid fuchsia;
}

.icon-txt {
    color: #036DE9;
    font-family: 'Lilita One', cursive;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
    margin-top: 0;
}

.book-icon-cont {
    border: 2px solid blue;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    align-items: center; 
}

.bookshelf {
    margin: auto;
    margin-top: 20%;
    margin-bottom: 0;
}

.audio-icon-cont {
    border: 2px solid blue;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center; 
}

.headphones {
    margin: auto;
    margin-top: 20%;
    margin-bottom: 0;
}

.music-icon-cont {
    border: 2px solid blue;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center; 
}

.musical-note {
    margin: auto;
    margin-top: 20%;
    margin-bottom: 0;
}

.pod-icon-cont {
    border: 2px solid blue;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center; 
}

.microphone {
    margin: auto;
    margin-top: 20%;
    margin-bottom: 0;
}

.main-cont {
    display: grid;
    grid-template-columns: 18% 82%;
    width: 100%;
    height: 100%;
}

.menu-col-cont {
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    background: #D9D9D9;
    display: grid;
    grid-template-rows: 21% 22% 67%;
    border-radius: 10px;
}

.row-1 {
    margin-top: 5%;
}

.row-2 {
    margin-top: 0;
}
.row-3 {
    margin-top: 0;
}

#h3-pop-rds {
    display: table;
    border-bottom: 1px solid #000000;
    padding: 15% 10% 5% 10%;
    color: #036DE9;
    margin: auto;
    
}

li {
    list-style: none;
    line-height: 1.5rem;
}


li a {
    text-decoration: none;
    color: #000000;
}

#h3-fic {
    display: table;
    border-bottom: 1px solid #000000;
    padding: 15% 10% 5% 10%;
    color: #036DE9;
    margin: auto;
}

#h3-non-fic {
    display: table;
    border-bottom: 1px solid #000000;
    padding: 15% 10% 5% 10%;
    color: #036DE9;
    margin: auto;
}

.book-desc-main-cont {
    background: #FFFFFF;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.25fr;
    padding-top: 5%;
}

.book-one {
    border: 5px solid red;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%; 
    margin: auto;
}

.book-img-cont {
    border: 2px solid blue;
    height: 74%;
    width: 70%;
    margin: 15%;
}

.bk-pic {
    border: 2px solid lime;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.rd-nw-btn-cont {
    display: grid;
    max-height: 80%;
    max-width: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0;
}

.read-now-button {
    background: #036DE9;
    color: #FFFFFF;
    border: 2px solid #036DE9;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    width: 100%;
    height: 100%;
    padding: 2% 10%;
}

.book-rev-col {
    background: #F5F5F5;
    display: grid;
    grid-template-rows: 1fr 0.5fr 2.5fr;
    width: 100%;
    height:100%;
}

.bk-desc-p-cont {
    font-size: 26px;
    margin-left: 10px;
    margin-right: 40px;
}

.main-p {
    margin-top: 0;
}

.ratings-rev-cont {
    border-top: 1px solid #000000;
    margin-right: 100px;
    margin-bottom: 0;
}

#h4-rate-rev {
    color: #036DE9;
    font-size: 24px;
    margin-bottom: 10px;
}

#h5-read-rev {
    margin-top: 40px;
    font-size: 20px;
    font-weight: normal;
}

.review-grid-cont {
    display: grid;
    grid-template-rows: 50% 50%;
}

.icon-b {
    position: relative;
    z-index: 1;
}

.book-txt-area {
    border: 2px solid black;
    display: grid;
    grid-template-rows: 15% 15% 45% 25%;
    font-size: 1.25rem;
    height: 70%;
    width: 90%;
    margin: auto;
    color: #000000;
}

.bk-title {
    margin-top: 0;
    margin-bottom: 0;
}

.bk-title a {
    color: #036DE9;
    font-size: 2rem;
    text-decoration: none;
}

.auth-nm {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    margin-top: 1%;
}

.opinion-1 {
    font-weight: bold;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    padding: 1%;
}

footer {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
}

.footer-cont {
    margin-top: 1%;
}

.ftr-txt {
    font-size: 1rem;
}

.page-cont {
    border: 2px solid lime;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: auto;                                             
    font-size: 1.15rem;
    width: 50%;
    height: 100%;
    padding: 30px 8px 0px 8px;
}

.page-cont a {
    text-decoration: none; 
    color: #000000; 
}

#one {
    color: #036DE9;
}

footer a {
    width: 100%;
    margin: auto;
    color: #000000;
}

.ftr-txt {
    font-size: 1rem;
    padding: 40px 8px 0 8px;
}

@media only screen and (max-width: 1025px) {
    body {
        max-width: 100vw;
        margin: 0;
    }

        .navbar {
            position: absolute;
            top: 10%;
            right: 2%;
            background: var(--main-color);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-radius: 10px;
            transition: all .50s ease;
        }

        nav ul.navbar {
            width: 40vw;
            padding: 0;
        }

        .navbar a {
            display: block;
            margin: 5px 0;
            padding: 0px 25px;
            transition: all .50s ease;
        }

        .navbar a:hover {
            color: var(--text-color);
            transform: translateY(5px);
        }

        .navbar a.active {
            color: var(--text-color);
    
        }

        .navbar.open {
            right: 2%;
        }


    .e-logo-cont {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 33.33%;
        height: 5vh;
        justify-content: center;
    }

    #e-logo {
        font-size: 1.25rem;
        padding-right: 1%;
        padding-bottom: 4%;
    }

    .reads-logo {
        display: grid;
        font-size: 1.25rem;
        font-weight: bold;
        width: 100%;
        height: 5vh;
        padding-top: 5px;
    }

    .main {
        display: grid;
        grid-template-columns: 70% 15% 15%;
        align-items: center;
        width: 66.66%;
    
    }

    .main a {
        display: grid;
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }

    #menu-icon {
        display: grid;
        width: 100%;
        justify-content: center;
    
    }

    .search-ebooks {
        width: 50%;
        margin-left: 35%;
    }

    form {
        align-items: flex-end;
    }

    #h2-hero-txt {
        font-size: 1.5rem;
    }

    .icon-txt {
        font-size: 1.5rem;
        margin-top: 5%;
    }

    .bookshelf {
        margin-top: 25%;
        margin-bottom: 3%;
        width: 50%;
        height: 50%;
    }

    .headphones {
        margin-top: 25%;
        margin-bottom: 3%;
        width: 50%;
        height: 50%;
    }
    
    .musical-note {
        margin-top: 25%;
        margin-bottom: 3%;
        width: 50%;
        height: 50%;
    }
    
    .microphone {
        margin-top: 25%;
        margin-bottom: 3%;
        width: 50%;
        height: 50%;
    }

    footer {
        width: 100vw;
        margin-top: 8%
    }

    .footer-cont {
        padding-top: 2%;
    }

    .ftr-txt {
        display: grid;
        font-size: .75em;
        display: inline;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 777px) {

}