@font-face
    fon-family: 'Lemonada';
    src: url(Font Lemonada\Lemonada-Regular.ttf) format('truetype');

    @font-face
    fon-family: 'Inter';
    src: url(Font Inter\Inter-Black.otf) format('opentype');

html {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
    max-width: 1440px;
}

body {
    border: 2px solid lime;
    display: grid;
    grid-template-rows: 0.5fr 9fr 0.5fr;
    width: 1440px;
    font-family: 'Inter', sans-serif;
    height: 2650px;
    position: relative;
}

.navbar-main {
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    width: 1440px;
    height: 112px;
    padding: 5px;
    height: 116px;
    flex-shrink: 0;
    box-sizing:border-box;
    border: 1px solid invisible;
    background: #3A3838;
    color: #FFFFFF;
    margin-bottom: 0;
}

nav a {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

.e-logo-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 141px;
    height: 64px;
    margin: 20px 35px 0 35px;
}

#e-logo {
    display: grid | inline-grid;
    color: #036DE9;
    text-shadow: 1px 1px #FFFFFF;
    font-family: 'Lemonada', serif;
    font-size: 32px;
    font-weight: bold;
}

.reads-logo {
    display: grid | inline-grid;
    font-family: 'Lemonada', serif;
    font-size: 32px;
    font-weight: bold;
}

.home {
    display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
}

.about {
    display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
}

.reg {
    display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px; 
}

.ebooks {
    display: inline-block; 
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
    white-space: nowrap;
}

.search-ebooks {
    display: inline-block; 
    width: 220px;
    height: 36px;
    border-radius: 12px;
    margin: 35px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
    background: #D9D9D9;
}

.form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    width: 100%;
    padding: 10px 15px 10px 35px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin: 5px 0 2px 5px;
  }
  
  .search-button img {
    width: 18px;
    height: 18px;
    object-fit: cover;
  }

input {
    padding-left: 5px;
    background: #D9D9D9;
}

.profile-img {
    margin: auto;
}

.upper-hero-area {
    background: #020202;
    width: 1440px;
}

.hero-cont {
    max-width: 1440px;
}

.hero-img {
    height: 483px;
    max-width: 1440px;
    position: relative; 
    width: 100%; /* for IE 6 */
}

#h2-hero-txt {
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%;
    color: #FFFFFF; 
    font-family: 'Lemonada', serif;
    font-size: 34px;
    font-weight: bold;
    padding-left: 100px;
    letter-spacing: -1px;   
}

.icon-cont {
    height: 200px;
    width: 1440px;
    background: #020202;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 40px;
}

.icon-txt {
    color: #036DE9;
    font-family: 'Lemonada', serif;
    font-size: 32px;
    font-weight: bold;
    margin: auto;
    margin-top: 0;
}

.book-icon-cont {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 60%;
}

.bookshelf {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
}

.audio-icon-cont {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.headphones {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
}

.music-icon-cont {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.musical-note {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
}

.pod-icon-cont {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.microphone {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
}

.main-cont {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 18% 82%;
    width: 1440px;
    height: 1646px;
}

.menu-col-cont {
    border: 1px solid #000000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background: #D9D9D9;
    display: grid;
    grid-template-rows: 21% 22% 67%;
    border-radius: 10px;
}

.row-1 {
    margin-top: 25px;
}

.row-2 {
    margin-top: 0px;
}
.row-3 {
    margin-top: 0px;
}

#h3-pop-rds {
    display: table;
    border-bottom: 1px solid #000000;
    padding: 30px 15px 5px 15px;
    color: #036DE9;
    margin: auto;
    
}

li {
    list-style: none;
    line-height: 26px;
}


li a {
    text-decoration: none;
    color: #000000;
}

#h3-fic {
    display: table;
    border-bottom: 1px solid #000000;
    padding: 30px 60px 5px 60px;
    color: #036DE9;
    margin: auto;
}

#h3-non-fic {
    display: table;
    border-bottom: 1px solid #000000;
    padding: 30px 35px 5px 35px;
    color: #036DE9;
    margin: auto;
}

.book-desc-main-cont {
    background: #F5F5F5;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.title-auth-cont {
    padding-left: 100px;
}

#h2-war-wrlds {
    color: #036DE9;
    font-weight: 600;
    font-size: 40px; 
    margin-bottom: 5px;
}

#h3-hg-wells {
    font-weight: 300;
    font-size: 24px;
    margin-top: 0;
}

.book-desc-col-cont {
    display: grid;
    grid-template-columns: 35% 65%;   
}

.book-desc-row-cont {
    display: grid;
    grid-template-rows: 15% 10% 75%;    
}

.book-img-cont {
    height: 250px;
    width: 199px;
    padding-left: 100px;
    margin-left: 8px;
}

#war-worlds-pic {
    width: 199px;
    height: 250px;
    border-radius: 10px;
}

.rd-nw-btn-cont {
    display: grid;
    max-height: 59px;
    max-width: 214px;
    padding-left: 100px;
    margin-top: 90px;
}

.read-now-button {
    background: #036DE9;
    color: #FFFFFF;
    border: 2px solid #036DE9;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 15px 40px;
}

.dwnld-btn-cont {
    display: grid;
    max-height: 59px;
    max-width: 214px; 
    padding-left: 100px;
    margin-top: 40px;
}

.dwnld-button {
    background: #3A3838;
    color: #FFFFFF;
    border: 2px solid #3A3838;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 15px 40px;
}

.book-rev-col {
    background: #F5F5F5;
    display: grid;
    grid-template-rows: 1fr 0.5fr 2.5fr;
    width: 100%;
    height:100%;
}

.bk-desc-p-cont {
    font-size: 26px;
    margin-left: 10px;
    margin-right: 40px;
}

.main-p {
    margin-top: 0;
}

.ratings-rev-cont {
    border-top: 1px solid #000000;
    margin-right: 100px;
    margin-bottom: 0;
}

#h4-rate-rev {
    color: #036DE9;
    font-size: 24px;
    margin-bottom: 10px;
}

#h5-read-rev {
    margin-top: 40px;
    font-size: 20px;
    font-weight: normal;
}

.review-grid-cont {
    display: grid;
    grid-template-rows: 50% 50%;
}

.rev-one {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 80%;
}

.icon-b {
    position: relative;
    z-index: 1;
}

.rev-txt-area {
    margin: auto;
    margin-right: 100px;
    font-size: 20px;
}

.ver-reader {
    margin-bottom: 5px;
}

.check-mrk-icon {
    position: relative;
    z-index: 2;
    top: 5px;
    left: -29px;
}

.opinion-1 {
    font-weight: bold;
    margin-top: 10px;
}

.rev-par-1 {
    margin-top: 40px;
}

.rev-two {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 80%;
}

.icon-k {
    position: relative;
    z-index: 1;
}

.opinion-2 {
    font-weight: bold;
    margin-top: 10px;
}

.rev-par-2 {
    margin-top: 40px;
}

footer {
    border: 2px dashed blue;
    max-width: 1440px;
    display: grid; 
    background: #F5F5F5;
    height: 142px;
}

.footer-cont {
    border: 2px solid rebeccapurple;
    display: grid;
    margin: auto;
    margin-top: 0;                                               
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.page-cont {
    border: 2px solid lime;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: auto;    
    margin-left: -50px;                                           
    font-size: 18px;
    width: 667px;
    height: 24px;
    padding: 30px 8px 0px 8px;
}

footer a {
    width: 100%;
    margin: auto;
    color: #000000;
}

.ftr-txt {
    font-size: 18px;
    padding: 40px 8px 0 8px;
}


