    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    :root{
        --bg-color: #222327;
        --text-color: #fff;
        --main-color: #036DE9;
    }
    
    html {
        height: 100vh;
        width: 100vw;
    }
    
    body {
        background: var(--text-color);
        color: var(--text-color);
        width: 1440px;
        margin-left: 0;
        margin-right: 0;
    }
    
    nav {
        background: #222327 !important;
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        transition: all .50s ease;
    }
    
    .e-logo-cont {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 25%;
        height: 5vh;
        justify-content: center;
    }
    
    #e-logo {
        display: grid;
        color: #036DE9;
        text-shadow: 1px 1px #FFFFFF;
        font-family: 'Lilita One', cursive;
        font-size: 1.5rem;
        font-weight: bold;
        justify-content: flex-end;
        margin-left: 0px;
        width: 100%;
        height: 5vh;
        align-items: center;
        padding-right: 1%;
        padding-top: 0;
    }
    
    .reads-logo {
        display: grid;
        font-family: 'Lilita One', cursive;
        font-size: 1.5rem;
        font-weight: bold;
        width: 100%;
        height: 5vh;
        align-items: center;
    }
    
    .navbar {
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        align-items: left;
        font-size: 1rem;
    }
    
    .navbar a {
        color: var(--text-color);
        font-size: 1.1rem;
        font-weight: 500;
        transition: all .50s ease;
        width: 100%;
        text-decoration: none;
    }
    
    .navbar a:hover {
        color: var(--main-color);
    }
    
    .navbar a.active {
        color: var(--main-color);
    }
    
    nav ul.navbar {
        width: 50vw;
        padding: 20px 0;
        list-style: none;
    }
    
    .main {
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        width: 25%;
        height: 90vh;
    }
    
    .main a {
        width: 50%;
        margin-left: 10%;
        color: var(--text-color);
        font-size: 1.1rem;
        font-weight: 500;
        transition: all .50s ease;
    }
    
    .search-ebooks {
        display: grid; 
        width: 80%;
        height: 4vh;
        border-radius: 12px;
        margin-left: 10%;
        padding: 0;
        font-size: 0.5rem;
        background: #D9D9D9;
        justify-content: flex-start;
    }
    
    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .search-field {
        display: flex;
        width: 90%;
        max-height: 100%;
        padding: 0;
        border: none;
        border-radius: 100px;
        outline: none;
        align-items: center;
      }
      
      .search-button {
        background: transparent;
        border: none;
        outline: none;
      }
      
      .search-button img {
        width: 18px;
        height: 18px;
        object-fit: cover;
        margin-top: 4px; 
      }
    
      .mag {
        justify-content: flex-start;
      }
    
    input {
        background: #D9D9D9;
        font-size: 1.5em;
        margin-left: 5%;
        }
    
    .user {
        display: flex;
        align-items: center;
    }
    
    .user i {
        color: var(--main-color);
        font-size: 28px;
        margin-right: 7px;
    }
    
    .main a:hover {
        color: var(--main-color);
    }
    
    #menu-icon {
        font-size: 35px;
        color: var(--text-color);
        cursor: pointer;
        z-index: 10001;
        display: none;
    }  

.main-cont {
    display: grid;
    grid-template-columns: 18% 82%;
    max-width: 1440px;
}

main {
    color: #000000;
}

.menu-col-cont {
    border: 1px solid #000000;
    font-size: 1.25rem;
    background: #D9D9D9;
    display: grid;
    grid-template-rows: 19% 20% 61%;
}

.row-1 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.row-2 {
    margin-top: 5%;
    margin-bottom: 5%;
}
.row-3 {
    margin-top: 5%;
}

#h3-pop-rds {
    font-family: 'Roboto', sans-serif; 
    display: table;
    border-bottom: 1px solid #000000;
    padding: 5%;
    color: #036DE9;
    margin: 5% auto;
}

main ul {
    margin-bottom: 5%;
}

li {
    font-family: 'Roboto', sans-serif; 
    list-style: none;
    line-height: 1.75rem;
    margin-left: 5%;
}

li a {
    text-decoration: none;
    color: #000000;
}

#h3-fic {
    font-family: 'Roboto', sans-serif; 
    display: table;
    border-bottom: 1px solid #000000;
    padding: 5%;
    color: #036DE9;
    margin: 5% auto;
}

#h3-non-fic {
    font-family: 'Roboto', sans-serif; 
    display: table;
    border-bottom: 1px solid #000000;
    padding: 5%;
    color: #036DE9;
    margin: 5% auto;
}

.book-desc-main-cont {
    font-family: 'Roboto', sans-serif; 
    background: var(--text-color);
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100%;  
}

.title-auth-cont {
    padding-top: 3%;
    padding-left: 9%;
}

#h2-war-wrlds {
    color: #036DE9;
    font-family: 'Roboto', sans-serif; 
    font-weight: 600;
    font-size: 2.5rem; 
    margin-bottom: 1%;
}

#h3-hg-wells {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 0;
}

.book-desc-col-cont {
    display: grid;
    grid-template-columns: 35% 65%; 
    height: 100%;  
}

.book-desc-row-cont {
    display: grid;
    grid-template-rows: 20% 4% 4% 72%;    
    row-gap: 2%;
}

.book-img-cont {
    height: 100%;
    width: 100%;
    padding: 0 25%;
}

#war-worlds-pic {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.rd-nw-btn-cont {
    display: grid;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    margin-top: 0;
}

.read-now-button {
    background: #036DE9;
    color: #FFFFFF;
    border: 2px solid #036DE9;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif; 
    font-size: 1rem;
    width: 100%;
    height: 100%;
    
}

.dwnld-btn-cont {
    display: grid;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    margin-top: 0;
}

.dwnld-button {
    background: #3A3838;
    color: #FFFFFF;
    border: 2px solid #3A3838;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif; 
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

.book-rev-col {
    background: var(--text-color);
    display: grid;
    grid-template-rows: 1fr 0.5fr 2.5fr;
    width: 100%;
    height:100%;
}

.bk-desc-p-cont {
    
}

.main-p {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.5rem;
    margin-top: 0;
    text-align: left;
}

.ratings-rev-cont {
    border-top: 1px solid #000000;
    margin-right: 60%;
    margin-bottom: 0;
    padding-top: 1%;
}

#h4-rate-rev {
    color: #036DE9;
    font-size: 1.5rem;
}

#h5-read-rev {
    margin-top: 10%;
    font-size: 1.25rem;
    font-weight: normal;
}

.review-grid-cont {
    display: grid;
    grid-template-rows: 50% 50%;
    margin-top: 3%;
}

.rev-one {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 80%;
}

.icon-b {
    position: relative;
    z-index: 1;
}

.rev-txt-area {
    margin: auto;
    margin-right: 20%;
    font-size: 1.25rem;
}

.ver-reader {
    margin-bottom: 1%;
    text-align: left;
}

.check-mrk-icon {
    position: relative;
    z-index: 2;
    top: 5px;
    left: -29px;
}

.opinion-1 {
    font-weight: bold;
    margin-top: 2%;
    text-align: left;
}

.rev-par-1 {
    margin-top: 8%;
    text-align: left;
    line-height: 1.75rem;
}

.rev-two {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 80%;
}

.icon-k {
    position: relative;
    z-index: 1;
}

.opinion-2 {
    font-weight: bold;
    margin-top: 2%;
    text-align: left;
}

.rev-par-2 {
    margin-top: 8%;
    text-align: left;
    line-height: 1.75rem;
}

footer {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    background: #ffffff;
    color: #000000;
}

.footer-cont {
    margin-top: 1%;
}

.ftr-txt {
    font-size: 1rem;
}

@media only screen and (max-width: 1025px) {
    body {
        max-width: 100vw;
        margin: 0;
    }

        .navbar {
            position: absolute;
            top: 10%;
            right: 2%;
            background: var(--main-color);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-radius: 10px;
            transition: all .50s ease;
        }

        nav ul.navbar {
            width: 40vw;
            padding: 0;
        }

        .navbar a {
            display: block;
            margin: 5px 0;
            padding: 0px 25px;
            transition: all .50s ease;
        }

        .navbar a:hover {
            color: var(--text-color);
            transform: translateY(5px);
        }

        .navbar a.active {
            color: var(--text-color);
    
        }

        .navbar.open {
            right: 2%;
        }


    .e-logo-cont {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 33.33%;
        height: 5vh;
        justify-content: center;
    }

    #e-logo {
        font-size: 1.25rem;
        padding-right: 1%;
        padding-bottom: 0;
    }

    .reads-logo {
        display: grid;
        font-size: 1.25rem;
        font-weight: bold;
        width: 100%;
        height: 5vh;
        padding-top: 5px;
    }

    .main {
        display: grid;
        grid-template-columns: 70% 15% 15%;
        align-items: center;
        width: 66.66%;
    
    }

    .main a {
        display: grid;
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }

    #menu-icon {
        display: grid;
        width: 100%;
        justify-content: center;
    
    }

    .search-ebooks {
        width: 50%;
        margin-left: 35%;
    }

    form {
        align-items: flex-end;
    }

    .main-cont {
        grid-template-columns: 30% 70%;
        max-width: 100vw;
    }

    .menu-col-cont {
        grid-template-rows: 15% 15% 70%;
    }
    
    li {
        margin-left: 0;
    }
    
    #h3-fic {
        padding: 10%;
        margin: 10% auto;
    }
    
    #h3-non-fic {
        padding: 10%;
        margin: 10% auto;
    }

    .title-auth-cont {
        width: 40%;
        padding: 5% 1%;
    }

    .book-desc-col-cont {
        display: inline;
        width: 100%;
        height: 100%;
        padding-top: 3%;  
    }
    
    .book-desc-row-cont {
        grid-template-rows: 60% 15% 15% 10%;    
        width: 66.66%;
        margin: auto; 
    }

    .main-p {
        text-align: center;
    }

    br {
        display: none;
    }

    .ratings-rev-cont {
        width: 100%;
        height: 70%;
        display: grid;
        grid-template-rows: 35% 35% 30%;
        margin: 15% 0;
        padding-left: 3%;
    }

    #h5-read-rev {
        margin-top: 0;
    }
    
    .rev-one {
        display: inline;
        height: 100%;
    }
    
    .rev-txt-area {
        padding-left: 3%;
    }
    
    .rev-two {
        display: inline;
        height: 100%;
    }   

    footer {
        width: 100vw;
        margin-top: 0;
    }

    .footer-cont {
        padding-top: 2%;
    }

    .ftr-txt {
        display: grid;
        font-size: .75em;
        display: inline;
        white-space: nowrap;
    }
}
