@font-face
    fon-family: 'Lemonada';
    src: url(Font Lemonada\Lemonada-Regular.ttf) format('truetype');


font-size: 32px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0em;
text-align: left;

font-family: 'Asap Condensed', sans-serif;