html {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
    max-width: 1440px;
    border: 2px solid red;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    background: #D9D9D9;
    font-family: 'Asap Condensed', sans-serif;
}

.navbar-main {
    display: flex;
    align-items:center;
    width: 1440px;
    height: 112px;
    padding: 5px;
    height: 112px;
    flex-shrink: 0;
    box-sizing:border-box;
    border: 1px solid invisible;
    background-color: #3A3838;
    color:#FFFFFF;
}

.e-logo-cont {
    border: 2px solid teal;
    display: inline-block; 
    width: 141px;
    height: 64px;
    margin: 15px 35px 0 35px;
}

#e-logo {
    border: 2px solid yellow;
    display: inline-block;
    color: #036DE9;
    text-shadow: 1px 1px #FFFFFF;
    font-family: 'Marko One', serif;
    font-size: 32px;
    font-weight: bold;

}

.reads-logo {
    border: 2px solid orange;
    display: inline-block;
    font-family: 'Marko One', serif;
    font-size: 32px;
    font-weight: bold;
}

.navbar-center {
    display: inline-block;

}

.home {
    border: 2px solid red;
    display: inline-block;
    margin: 0px 25px 0px 65px;
    font-size: 18px;
}

.about {
    border: 2px solid green;
    display: inline-block;
    margin: 0px 25px;
    font-size: 18px;
}

.reg {
    border: 2px solid greenyellow;
    display: inline-block;
    margin: 0px 25px;
    font-size: 18px; 
}

.ebooks {
    border: 2px solid violet;
    display: inline-block; 
    margin: 0px 25px;
    font-size: 18px;
}

.search-ebooks {
    border: 2px solid hotpink;
    display: inline-block; 
    margin: 0px 25px;
    font-size: 18px;
}

.profile-img {
    border: 2px solid salmon;
    display: inline-block;
    margin: 0px 25px;
}



.hero-img {
    height: 483px;
    max-width: 1440px;
}

p {
    font-family: 'Asap Condensed', sans-serif;
}