
@font-face
    fon-family: 'Lemonada';
    src: url(Font Lemonada\Lemonada-Regular.ttf) format('truetype');

    @font-face
    fon-family: 'Inter';
    src: url(Font Inter\Inter-Black.otf) format('opentype');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


html {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
    max-width: 1440px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    background: #D9D9D9;
    font-family: 'Inter', sans-serif;
}

.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*grid-template-columns: repeat(7, 2fr);*/
    width: 100%;
    height: 112px;
    padding: 5px;
<<<<<<< HEAD
<<<<<<< Updated upstream
    height: 112px;
=======
>>>>>>> 4cdfda3 (Update index.css)
    flex-shrink: 0;
    box-sizing:border-box;
=======
    box-sizing: border-box;
>>>>>>> Stashed changes
    border: 1px solid invisible;
    background-color: #3A3838;
    color: #FFFFFF
}

nav a {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

nav ul {
    display:  flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    list-style: none;
}

nav ul li a {
    display: block;
    color: #FFFFFF;
    font-size: 17px;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 3px;
    text-decoration: none;
    
}

a.active, a:hover {
    color: #FFFFFF;
    transition: .5s;
}

.e-logo-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 141px;
    height: 64px;
    
    font-size: 1.5rem;
    margin: .5rem;
}

#e-logo {
    display: grid | inline-grid;
    color: #036DE9;
    text-shadow: 1px 1px #FFFFFF;
    font-family: 'Lemonada', serif;
    font-size: 32px;
    font-weight: bold;
}

.reads-logo {
    display: grid | inline-grid;
    font-family: 'Lemonada', serif;
    font-size: 32px;
    font-weight: bold;
}

.home {
    /*display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;*/
}

.about {
    /*display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;*/
}

.reg {
    /*display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;*/
}

.ebooks {
    /*display: inline-block; 
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
    white-space: nowrap;*/
}

.search-ebooks {
    /*display: inline-block; 
    width: 220px;
    height: 36px;
    border-radius: 12px;
    margin: 35px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
    background: #D9D9D9;*/
}

.form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    width: 100%;
    padding: 10px 15px 10px 35px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin: 5px 0 2px 5px;
  }
  
  .search-button img {
    width: 18px;
    height: 18px;
    object-fit: cover;
  }

input {
    padding-left: 5px;
    background: #D9D9D9;
}

.profile-img {
    margin: auto;
}

.hero-img {
    height: 483px;
    max-width: 1440px;
}

.btm-home-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    max-width: 1440px;
}

.know-cont {
    display: grid;
    grid-template-rows: 30% 50% 20%;
    max-width: 850px;
}

h3 {
    font-size: 32px;
    display: grid;
    margin: auto;
    padding-top: 40px;
    font-family: 'Lemonada', serif;
}

p {
    font-size: 20px;
    margin: auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.strt-btn-cont {
    display: grid;
    max-height: 53px;
    max-width: 213px;
    margin: auto;   
}

.strt-rd-btn {
    background: #000000;
    color: #FFFFFF;
    border: 2px solid invisible;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 15px 40px;
    
}

.solo-tab-cont {
    align-items: left;
    padding-top: 30px;
    width: 349px;
    height: 330px;
}

.solo-tab {
    display: grid;
    border-radius: 12px;
}

footer {
    max-width: 1440px;
    display: grid;
}

.footer-cont {
    display: grid;
    margin: auto;                                               
    grid-template-columns: 100%;
}

.ftr-txt {
    font-size: 18px;
    padding: 60px 8px 0 8px; 
}


/* Mobile (Smartphone) max-width: 480px
  Low Resolution Tablets and ipads max-width: 767px
  Tablets Ipads portrait mode max-width:1024px
  Desktops max-width:1280px
  Huge size (Larger screen) max-width: 1281px and greater */


@media screen and (max-width: 720px){
    
@font-face
fon-family: 'Lemonada';
src: url(Font Lemonada\Lemonada-Regular.ttf) format('truetype');

@font-face
fon-family: 'Inter';
src: url(Font Inter\Inter-Black.otf) format('opentype');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    margin: 0;
    height: 100%;
    padding: 0;
    min-width: 400px;
    max-width: 1440px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    background: #D9D9D9;
    font-family: 'Inter', sans-serif;
}

.navbar-main {
border: 2px solid purple;
display: grid;
grid-template-columns: repeat(7, 2fr);
<<<<<<< HEAD
<<<<<<< Updated upstream
width: 1440px;
=======
width: 100%;
>>>>>>> Stashed changes
=======
width: 720px;
>>>>>>> 4cdfda3 (Update index.css)
height: 112px;
padding: 5px;
flex-shrink: 0;
box-sizing:border-box;
border: 1px solid invisible;
background-color: #3A3838;
color: #FFFFFF;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

nav a {
color: #FFFFFF;
background-color: transparent;
text-decoration: none;
}
nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: block;
    line-height: 80px;
    margin: 50px 0;
    line-height: 30px;
}

nav ul li a {
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    color: #FFFFFF;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

a.active, a:hover {
    background: none;
    color: #FFFFFF;
    transition: .5s;
}

.e-logo-cont {
<<<<<<< HEAD
<<<<<<< Updated upstream
=======
border: 2px solid red;
>>>>>>> 4cdfda3 (Update index.css)
display: grid;
grid-template-columns: repeat(2, 1fr);
width: 141px;
height: 64px;
margin: 20px 35px 0 35px;
=======
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 141px;
    height: 64px;
    margin: 20px 35px 0 35px;
>>>>>>> Stashed changes
}

#e-logo {
    display: grid | inline-grid;
    color: #036DE9;
    text-shadow: 1px 1px #FFFFFF;
    font-family: 'Lemonada', serif;
    font-size: 32px;
    font-weight: bold;
}

.reads-logo {
    display: grid | inline-grid;
    font-family: 'Lemonada', serif;
    font-size: 32px;
    font-weight: bold;
}

.home {
<<<<<<< HEAD
<<<<<<< Updated upstream
=======
border: 2px solid pink;
>>>>>>> 4cdfda3 (Update index.css)
display: inline-block;
margin: 40px 40px 40px 80px;
padding: 0;
font-size: 18px;
}

.about {
border: 2px solid plum;
display: inline-block;
margin: 40px 40px 40px 80px;
padding: 0;
font-size: 18px;
}

.reg {
border: 2px solid purple;
display: inline-block;
margin: 40px 40px 40px 80px;
padding: 0;
font-size: 18px; 
}

.ebooks {
border: 2px solid blue;
display: inline-block; 
margin: 40px 40px 40px 80px;
padding: 0;
font-size: 18px;
white-space: nowrap;
=======
    display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
}

.about {
    display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
}

.reg {
    display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px; 
}

.ebooks {
    display: inline-block; 
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
    white-space: nowrap;
>>>>>>> Stashed changes
}

.search-ebooks {
border: 2px solid aqua;
display: inline-block; 
width: 220px;
height: 36px;
border-radius: 12px;
margin: 35px 40px 40px 80px;
padding: 0;
font-size: 18px;
background: #D9D9D9;
}

.form {
border: 2px solid green;
display: flex;
flex-direction: row;
}

.search-field {
border: 2px solid lime;
width: 100%;
padding: 10px 15px 10px 35px;
border: none;
border-radius: 100px;
outline: none;
}

.search-button {
background: transparent;
border: none;
outline: none;
margin: 5px 0 2px 5px;
}

.search-button img {
width: 18px;
height: 18px;
object-fit: cover;
}

input {
padding-left: 5px;
background: #D9D9D9;
}

.profile-img {
border: 2px solid orange;
margin: auto;
}

.hero-img {
border: 2px solid yellow;    
height: 483px;
max-width: 1440px;
}

.btm-home-grid {
display: grid;
grid-template-columns: 60% 40%;
max-width: 1440px;
}

.know-cont {
display: grid;
grid-template-rows: 30% 50% 20%;
max-width: 850px;
}

h3 {
font-size: 32px;
display: grid;
margin: auto;
padding-top: 40px;
font-family: 'Lemonada', serif;
}

p {
font-size: 20px;
margin: auto;
text-align: center;
font-family: 'Inter', sans-serif;
}

.strt-btn-cont {
display: grid;
max-height: 53px;
max-width: 213px;
margin: auto;   
}

.strt-rd-btn {
background: #000000;
color: #FFFFFF;
border: 2px solid invisible;
border-radius: 10px;
font-family: 'Inter', sans-serif;
font-size: 16px;
padding: 15px 40px;

}

.solo-tab-cont {
align-items: left;
padding-top: 30px;
width: 349px;
height: 330px;
}

.solo-tab {
display: grid;
border-radius: 12px;
}

footer {
max-width: 1440px;
display: grid;
}

.footer-cont {
display: grid;
margin: auto;                                               
grid-template-columns: 100%;
}

.ftr-txt {
font-size: 18px;
padding: 60px 8px 0 8px; 
}

}




 








