
@font-face
    fon-family: 'Lemonada';
    src: url(Font Lemonada\Lemonada-Regular.ttf) format('truetype');

    @font-face
    fon-family: 'Inter';
    src: url(Font Inter\Inter-Black.otf) format('opentype');

html {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
    max-width: 1440px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    background: #D9D9D9;
    font-family: 'Inter', sans-serif;
}

.navbar-main {
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    width: 1440px;
    height: 112px;
    padding: 5px;
    height: 112px;
    flex-shrink: 0;
    box-sizing:border-box;
    border: 1px solid invisible;
    background-color: #3A3838;
    color: #FFFFFF;
}

nav a {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

.e-logo-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 141px;
    height: 64px;
    margin: 20px 35px 0 35px;
}

#e-logo {
    display: grid | inline-grid;
    color: #036DE9;
    text-shadow: 1px 1px #FFFFFF;
    font-family: 'Lemonada', serif;
    font-size: 32px;
    font-weight: bold;
}

.reads-logo {
    display: grid | inline-grid;
    font-family: 'Lemonada', serif;
    font-size: 32px;
    font-weight: bold;
}

.home {
    display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
}

.about {
    display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
}

.reg {
    display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px; 
}

.ebooks {
    display: inline-block; 
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
    white-space: nowrap;
}

.search-ebooks {
    display: inline-block; 
    width: 220px;
    height: 36px;
    border-radius: 12px;
    margin: 35px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
    background: #D9D9D9;
}

.form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    width: 100%;
    padding: 10px 15px 10px 35px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin: 5px 0 2px 5px;
  }
  
  .search-button img {
    width: 18px;
    height: 18px;
    object-fit: cover;
  }

input {
    padding-left: 5px;
    background: #D9D9D9;
}

.profile-img {
    margin: auto;
}

.hero-img {
    height: 483px;
    max-width: 1440px;
}

.btm-home-grid {
    border: 2px solid green;
    display: grid;
    grid-template-columns: 60% 40%;
    max-width: 1440px;
}

.know-cont {
    display: grid;
    grid-template-rows: 40% 40% 20%;
    max-width: 850px;
    border: 2px solid red;
}

h3 {
    border: 2px solid yellow;
    font-size: 32px;
    display: grid;
    margin: auto;
    font-family: 'Lemonada', serif;
}

p {
    border: 2px solid orange;
    font-size: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.btn-cont {
    border: 2px solid brown;
    display: grid;
}

.solo-tab-cont {
    border: 2px solid blue;
    align-items: left;
}

.solo-tab {
    border: 2px solid purple;
    display: grid;
    margin: auto;
    width: 349px;
    height: 330px;
}

footer {
    border: 2px solid cyan;
}

