@font-face
    fon-family: 'Lemonada';
    src: url(Font Lemonada\Lemonada-Regular.ttf) format('truetype');

    @font-face
    fon-family: 'Inter';
    src: url(Font Inter\Inter-Black.otf) format('opentype');

html {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
    max-width: 1440px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.navbar-main {
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    width: 1440px;
    height: 112px;
    padding: 5px;
    height: 112px;
    flex-shrink: 0;
    box-sizing:border-box;
    border: 1px solid invisible;
    background-color: #3A3838;
    color: #FFFFFF;
}

nav a {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

.e-logo-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 141px;
    height: 64px;
    margin: 20px 35px 0 35px;
}

#e-logo {
    display: grid | inline-grid;
    color: #036DE9;
    text-shadow: 1px 1px #FFFFFF;
    font-family: 'Lemonada', serif;
    font-size: 32px;
    font-weight: bold;
}

.reads-logo {
    display: grid | inline-grid;
    font-family: 'Lemonada', serif;
    font-size: 32px;
    font-weight: bold;
}

.home {
    display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
}

.about {
    display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
}

.reg {
    display: inline-block;
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px; 
}

.ebooks {
    display: inline-block; 
    margin: 40px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
    white-space: nowrap;
}

.search-ebooks {
    display: inline-block; 
    width: 220px;
    height: 36px;
    border-radius: 12px;
    margin: 35px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
    background: #D9D9D9;
}

.form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    width: 100%;
    padding: 10px 15px 10px 35px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin: 5px 0 2px 5px;
  }
  
  .search-button img {
    width: 18px;
    height: 18px;
    object-fit: cover;
  }

input {
    padding-left: 5px;
    background: #D9D9D9;
}

.profile-img {
    margin: auto;
}

main {
    border: 2px solid royalblue;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 1440px;
}

.lft-cont {
    border: 2px solid blue;
    display: grid;
    grid-template-rows: 20% 10% 70% 10% 20%;
    width: 720px;
}

.top-cont {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    height: 100px;
    margin: auto;
}

.welcome {
    display: grid;
    grid-template-columns: 60% 10% 30%;
    margin: auto;
    font-size: 22px;
    width: 375px;
}

.welc-to {
    margin: auto 0;
    width: 225px;
    font-family: 'Lemonada', serif;
}

.welc-e {
    margin: auto;
    color: #036DE9;
    font-family: 'Lemonada', serif;
    width: 15px;
}

.welc-rds {
    margin: auto;
    width: 125px;
    font-family: 'Lemonada', serif;
}

.sign-up {
    height: 19px;
    width: 90px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    margin: auto;
}

h5 {
    height: 19px;
    width: 70px;
    font-size: 18px;
    margin: auto;
}

.form-box {
    border: 2px solid brown;
}

p {
    max-height: 20px;
}

.reg-form {
    border: 2px solid red;
    display: inline-block; 
    width: 432px;
    height: 56px;
    border-radius: 10px;
    margin: 35px 40px 40px 80px;
    padding: 0;
    font-size: 18px;
    background: #FFFFFF;
}

.ereg-form {
    border: 2px solid purple;
    display: flex;
    flex-direction: row;
  }
  .reg-field {
    width: 100%;
    padding: 10px 15px 10px 35px;
    border: none;
    border-radius: 100px;
    outline: none;
    background: #FFFFFF;
  }
  
  .reg-button {
    background: transparent;
    border: none;
    outline: none;
    margin: 5px 0 2px 5px;
  }

input {
    padding-left: 5px;
    background: #D9D9D9;
}

.t-c-txt {
    border: 2px solid plum;
}

.btn-box {
    border: 2px solid lime;
    height: 60px;
}

.profile-btn {
    background: #000000;
    color: #FFFFFF;
    height: 56px;
    width: 267px;
    border: 5px solid invisible;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.img-cont {
    display: grid;
    width: 595px;
    height: 830px;
    
}

.ldr-img {
    margin: auto;
    width: 595px;
    height: 830px;
    object-fit: fill;
}

.rt-cont {
    border: 2px solid fuchsia;
    display: grid;
    grid-template-columns: 52.2% 5% 30%;
    width: 1440px;
}

footer {
    max-width: 1440px;
    display: grid;
}

.footer-cont {
    display: grid;
    margin: auto;                                               
    grid-template-columns: 100%;
}

.ftr-txt {
    font-size: 18px;
    padding: 40px 8px 0 8px; 
}
