*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Lilita One', cursive; */
}

:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #036DE9;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    width: 1440px;
    margin-left: 0;
    margin-right: 0;
}

nav {
    background: #3A3838!important;
    color: var(--text-color);
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: all .50s ease;
}

.e-logo-cont {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 25%;
    height: 5vh;
    justify-content: center;
}

#e-logo {
    display: grid;
    color: #036DE9;
    text-shadow: 1px 1px #FFFFFF;
    font-family: 'Lilita One', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: flex-end;
    margin-left: 0px;
    width: 100%;
    height: 5vh;
    align-items: center;
    padding-right: 1%;
    padding-top: 0;
    padding-bottom: 1%;
}

.reads-logo {
    display: grid;
    font-family: 'Lilita One', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 5vh;
    align-items: center;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: left;
    font-size: 1rem;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    width: 100%;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

nav ul.navbar {
    width: 50vw;
    padding: 20px 0;
    list-style: none;
}

.main {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    width: 25%;
    height: 90vh;
}

.main a {
    width: 50%;
    margin-left: 10%;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.search-ebooks {
    display: grid; 
    width: 80%;
    height: 4vh;
    border-radius: 12px;
    margin-left: 10%;
    padding: 0;
    font-size: 0.5rem;
    background: #D9D9D9;
    justify-content: flex-start;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .search-field {
    display: flex;
    width: 90%;
    max-height: 100%;
    padding: 0;
    border: none;
    border-radius: 100px;
    outline: none;
    align-items: center;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
  }
  
  .search-button img {
    width: 18px;
    height: 18px;
    object-fit: cover;
    margin-top: 4px; 
  }

  .mag {
    justify-content: flex-start;
  }

input {
    background: #D9D9D9;
    font-size: 1.5em;
    margin-left: 5%;
    }

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
} 

main {
    background: var(--text-color);
    color: var(--bg-color);
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.lft-cont {
    display: grid;
    grid-template-rows: 20% 60% 10% 10%;
    width: 100%;
    height: 100%;
}

.top-cont {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
    margin: 1% auto auto auto;
}

.welcome {
    font-family: 'Lilita One', cursive;
    font-style: italic;
    display: grid;
    grid-template-columns: 50% 3% 47%;
    justify-content: center;
    font-size: 1.25rem;
}

.welc-to {
    white-space: nowrap;
    padding: 10% 0 5% 58%; 
    width: 100%;
}

.welc-e {
    margin: auto;
    padding-top: 75%;
    padding-left: 25%;
    color: #036DE9;
    width: 100%;
}

.welc-rds {
    padding: 11% 70% 5% 0;
    width: 100%;
}

.sign-up {
    height: 100%;
    width: 15%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    margin: auto;
    text-align: center;
}

h5 {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    margin: auto;
}

.form-box {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.form-cont {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    height: 20%;
}

.form-box p {
    height: 20%;
    display: flex;
    position: relative;
    align-items:center;
    margin: 2% 0 2% 25%;

}

.reg-form {
    border: 1px solid #000000;
    display: grid; 
    width: 60%;
    border-radius: 8px;
    padding: 0 0 0 2%;
    font-size: 1.25rem;
    background: #FFFFFF;
    margin: auto;
    margin-left: 20%;
}

.ereg-form {
    display: grid;
  }

  .reg-field {
    font-size: 1.25rem;
    width: 90%;
    padding: 2% 0;
    border: none;
    border-radius: 100px;
    outline: none;
    background: #FFFFFF;
  }
  
  .reg-button {
    background: transparent;
    border: none;
    outline: none;
    margin: auto;
  }

input {
    padding-left: 10%;
    background: #D9D9D9;
}

.t-and-c-txt { 
    font-family: 'Roboto', sans-serif;
    height: 25%;
    width: 100%;
    align-items: center;
    margin: 0 0 5% 12%;
}

.btn-cont {
    height: 50%;
    width: 25%; 
    margin: 0 0 0 38%;
}

.btn-box {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: auto; 
}

.profile-btn {
    background: #000000;
    color: #FFFFFF;
    min-height: 100%;
    min-width: 100%;
    border: 5px solid invisible;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
}

.rt-cont {
    width: 100%;
    height: 100%;
}

.img-cont {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
    flex-grow: 1;
    overflow: hidden;
    box-sizing: border-box;
}

.ldr-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

footer {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
}

.footer-cont {
    margin-top: 1%;
}

.ftr-txt {
    font-size: 1rem;
}

@media only screen and (max-width: 1025px) {
    body {
        max-width: 100vw;
        margin: 0;
    }

        .navbar {
            position: absolute;
            top: 10%;
            right: 2%;
            background: var(--main-color);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-radius: 10px;
            transition: all .50s ease;
        }

        nav ul.navbar {
            width: 40vw;
            padding: 0;
        }

        .navbar a {
            display: block;
            margin: 5px 0;
            padding: 0px 25px;
            transition: all .50s ease;
        }

        .navbar a:hover {
            color: var(--text-color);
            transform: translateY(5px);
        }

        .navbar a.active {
            color: var(--text-color);
    
        }

        .navbar.open {
            right: 2%;
        }


    .e-logo-cont {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 33.33%;
        height: 5vh;
        justify-content: center;
    }

    #e-logo {
        font-size: 1.25rem;
        padding-right: 1%;
        padding-bottom: 0;
    }

    .reads-logo {
        display: grid;
        font-size: 1.25rem;
        font-weight: bold;
        width: 100%;
        height: 5vh;
        padding-top: 5px;
    }

    .main {
        display: grid;
        grid-template-columns: 70% 15% 15%;
        align-items: center;
        width: 66.66%;
    
    }

    .main a {
        display: grid;
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }

    #menu-icon {
        display: grid;
        width: 100%;
        justify-content: center;
    
    }

    .search-ebooks {
        width: 50%;
        margin-left: 35%;
    }

    form {
        align-items: flex-end;
    }

    .welcome {
        grid-template-columns: 60% 5% 35%;
    }
    
    .welc-to {
        text-align: right;
        padding: 10% 1% 15% 0; 
    }
    
    .welc-e {
        text-align: center;
        margin: auto;
        padding-top: 0%;
        padding-bottom: 55%;
        padding-left: 20%;
    }
    
    .welc-rds {
        text-align: left;
        padding: 18% 0 5% 5%;
    }

    .sign-up {
        text-align: center;
        white-space: nowrap;
    }
    
    .form-box p {
        margin: 2% 0 2% 15%;
    
    }

    .t-and-c-txt { 
        width: 70%;
        align-items: left;
    }

    .btn-cont {
        height: 50%;
        width: 25%; 
        margin: 10% 0 0 38%;
    }
    
    .btn-box {
        font-family: 'Roboto', sans-serif;
        height: 100%;
        width: 100%;
        margin: auto; 
    }
    
    .profile-btn {
        background: #000000;
        color: #FFFFFF;
        min-height: 100%;
        min-width: 100%;
        border: 5px solid invisible;
        border-radius: 12px;
        font-family: 'Inter', sans-serif;
        font-size: 0.75rem;
    }

    footer {
        width: 100vw;
        margin-top: 8%
    }

    .footer-cont {
        padding-top: 2%;
    }

    .ftr-txt {
        display: grid;
        font-size: .75em;
        display: inline;
        white-space: nowrap;
    }

}